aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asttokens 
async-timeout 
atpublic
attrs 
backcall 
black
Brotli 
build
cachetools
certifi
cffi 
charset-normalizer
click
colorama 
comm 
contourpy
cycler
datasets
debugpy
decorator
dgl
dill 
distro
exceptiongroup
executing
exmol
filelock
flufl.lock
fonttools
frozenlist
fsspec
gensim
google-auth
google-genai
greenlet
groq
h11
h2
hf-xet
hnswlib
hpack
httpcore
httpx
huggingface-hub
hyperframe
idna
importlib_metadata
importlib_resources
ipython
jedi
Jinja2
jiter
joblib
jsonc-parser
jsonpickle
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mpmath
multidict
multiprocess
mypy-extensions
nest-asyncio
networkx
numpy
openai
packaging
pandas
parso
pathspec
pickleshare
picologging
pillow
pip-tools
platformdirs
prompt-toolkit
propcache
psutil
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
Pygments
pyparsing
pyproject_hooks
PySocks
pystow
python-dateutil
pytz
pywin32
PyYAML
pyzmq
ratelimit
rdkit
regex
requests
rsa
safetensors
scikit-learn
scipy
selfies
shellingham
six
skunk
smart-open
sniffio
SQLAlchemy
stack_data
sympy
synspace
tenacity
threadpoolctl
tokenizers
tomli
torch
torch-geometric
torchaudio
torchdata
torchvision
tornado
tqdm
traitlets
transformers
typer-slim
typing_extensions
tzdata
urllib3
wcwidth
websockets
win_inet_pton
wrapt
xxhash
yarl
zipp
zstandard
ipykernel